body {
  font-family: Arial;
}

.card {
  margin: auto;
  padding: auto;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 12px;
}

.title {
  margin-top: 12px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin: auto;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ccc;
  border-bottom: 5px solid #ccc;
}

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 5px solid red;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
